@import './fonts.scss';

$principalSecondary: #e5e5e5;
$offWhite: #faebd7;
$grey: #666;
$lightDark: #333;
$highlight: #BABA45;
$highlightSecondary: red;
$fontNormal: 'Arial', sans-serif;
$paperMapFont: 'MyFont';
$robotoFont: 'RobotoSlab';
$boxShadow-1: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);