<div ref="container" class="top-bar-container">
	<div class="left-container">
		<div class="title-container">
			<a href="/">
				<h1>Wakfu Map</h1>
				<p>beta</p>
			</a>
		</div>
		<div class="switches-container">
			<div id="teleporters-switch-container"></div>
			<div id="chest-switch-container"></div>
			<div id="territories-switch-container"></div>
			<div id="indoor-switch-container"></div>
		</div>
	</div>
	<div id="center-container"></div>
	<div class="right-container">
		<div class="links-container">
			<a href="mailto:contact@wakfu-map.com">Contact</a>
		</div>
		<div id="lang-selector-container"></div>
	</div>
</div>