<div class="npc-info-container">
	<div class="close-btn-container">
		<div ref="close-btn">
			<p>X</p>
		</div>
	</div>
	<div class="npc-info-header">
		<div class="npc-name-img-container">
			<div class="npc-img-container">
				<img ref="item-icon" alt="item-icon">
			</div>
			<div class="npc-name-container">
				<p ref="npc-name" class="npc-name"></p>
				<p ref="npc-level" class="npc-level"></p>
			</div>
		</div>
	</div>
	<div class="zone-list-container">
		<ul ref="zone-list">
		</ul>
	</div>
</div>