<div class="resource-info-container">
	<div class="close-btn-container">
		<div ref="close-btn">
			<p>X</p>
		</div>
	</div>
	<div class="resource-info-header">
		<div class="skill-name-container">
			<p ref="skill-name" class="skill-name"></p>
		</div>
		<div class="resource-name-img-container">
			<div class="resource-img-container">
				<img ref="item-icon" alt="item-icon">
			</div>
			<div class="resource-name-container">
				<p ref="resource-name" class="resource-name"></p>
				<p ref="resource-level" class="resource-level"></p>
			</div>
		</div>
	</div>
	<div class="zone-list-container">
		<ul ref="zone-list">
		</ul>
	</div>
</div>